<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Grupo2</display-name>
	
	

	<!-- The front controller of this Spring Web application,
    responsible for handling all application requests -->
	<servlet>
		<servlet-name>RatatoullieDispatcher</servlet-name>  
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/RatatoullieDispatcher-servlet.xml</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	


	</servlet>
	
<!-- Specifies what HTTP requests will be handled by it. -->
	<servlet-mapping>
 		<servlet-name>RatatoullieDispatcher</servlet-name>
 		<url-pattern>/</url-pattern>
 	</servlet-mapping>
</web-app>