<div id="cuerpo">
		<h1 class="animated zoomIn">RATATOULLIE</h1>	
		<P class="animated zoomInDown">
			El lugar donde encontraras toda la informaci&oacute;n sobre los mejores restaurantes.
			<br>
			Mira de forma r&aacute;pida y f&aacute;cil los men&uacute;s y platos disponibles.
			<br>
			Comenta - Vota - Recomienda
			<br>
			&uacute;nite a nosotros!
		</P>

</div>

<div>
<h1>Listado de Categor&iacute;as</h1>
<ul>
	<li *ngFor="let category of categories">
	<span>{{category.name}}</span>
	</li>
</ul>

<!--  Input for adding a new Category -->
<h3>New Category:</h3>
<div>
  <label>Category name:
    <input #categoryName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  &nbsp;<button (click)="add(categoryName.value); categoryName.value=''">
    Add
  </button>
</div>
</div>